[mysqld]
# =============================================================================
# CORE / PATHS - DIRETÓRIOS E ARQUIVOS BASE
# =============================================================================
basedir                         = /mysql/mysql
datadir                         = /mysql/data
innodb_data_home_dir            = /mysql/data/
pid-file                        = /run/mysqld/mysqld.pid
socket                          = /mysql/data/mysql.sock
plugin_dir                      = /mysql/mysql/lib/plugin
lc_messages_dir                 = /mysql/mysql/share

# =============================================================================
# INNODB PATHS
# =============================================================================

innodb_directories              = /mysql/data;/mysql/innodb;/mysql/innodb/temp  

innodb_log_group_home_dir       = /mysql/innodb/redo
innodb_redo_log_capacity        = 2G                            

innodb_undo_directory           = /mysql/innodb/undo            

innodb_doublewrite_dir          = /mysql/innodb/doublewrite     
innodb_doublewrite              = ON                            

innodb_tmpdir                   = /mysql/innodb/temp            
innodb_temp_tablespaces_dir     = /mysql/innodb/temp            
tmpdir                          = /mysql/innodb/temp            
innodb_temp_data_file_path      = /mysql/innodb/temp/ibtmp1:12M:autoextend:max:10G  

# =============================================================================
# CHARACTER SET / COLLATION
# =============================================================================
character_set_server            = utf8mb4
collation_server                = utf8mb4_general_ci

# =============================================================================
# CONEXÃO E SEGURANÇA
# =============================================================================
server-id                       = 1
user                            = mysql
port                            = 3306
default_storage_engine          = innodb                        
max_allowed_packet              = 64M                           
max_connections                 = 300
connect_timeout                 = 30
secure-file-priv                = /mysql/dump/securefile        
skip-mysqlx                                                     

# =============================================================================
# PERFORMANCE E MEMÓRIA (otimizado para 16 GB RAM | SSD/NVMe)
# =============================================================================
innodb_buffer_pool_size         = 10G                           
innodb_buffer_pool_instances    = 8                             
innodb_log_buffer_size          = 32M                           
innodb_file_per_table           = ON                             
innodb_flush_method             = O_DIRECT                      
innodb_flush_log_at_trx_commit  = 1                             
innodb_io_capacity              = 1000                          
innodb_io_capacity_max          = 2000                          
innodb_stats_on_metadata        = OFF                             

thread_cache_size               = 50                            
table_open_cache                = 4000                          
table_definition_cache          = 2000                          

tmp_table_size                  = 128M                          
max_heap_table_size             = 128M                          
sort_buffer_size                = 4M                            
join_buffer_size                = 4M                            
read_buffer_size                = 2M                            
read_rnd_buffer_size            = 4M                            

# =============================================================================
# SERVER LOGS
# =============================================================================
log-error                       = /mysql/log/log_mysql.err      
log-timestamps                  = SYSTEM                        
log_error_verbosity             = 3                             

log_output                      = FILE                          

general_log                     = OFF
general_log_file                = /mysql/audit/general.log

slow_query_log                  = OFF
slow_query_log_file             = /mysql/audit/slow_query.log
long_query_time                 = 7                             

# =============================================================================
# BINARY LOG
# =============================================================================
log-bin                         = /mysql/log/mysql-bin          
log-bin-index                   = /mysql/log/mysql-bin          
binlog_format                   = ROW                           
sync_binlog                     = 1                             
binlog_expire_logs_seconds      = 432000                        

# =============================================================================
# REPLICAÇÃO E GTID
# =============================================================================
gtid_mode                       = ON                           
enforce_gtid_consistency        = ON                           





[client]
port                            = 3306
socket                          = /mysql/data/mysql.sock