
[mysqld]
# === BASE E INSTALAÇÃO (ajustado para tarball ou package) ===
basedir                       = /mysql/mysql          # ← ajuste se usar symlink diferente
datadir                       = /mysql/data
innodb_data_home_dir          = /mysql/data
pid-file                      = /run/mysqld/mysqld.pid
socket                        = /mysql/data/mysql.sock
user                          = mysql

